#!/usr/bin/env bash

dotenv .env

PATH_add node_modules/.bin

export TEXTBELT_API_KEY=op://$TEXTBELT_OP_ITEM/API_KEY

for sfx in ACCESS_KEY_ID SECRET_ACCESS_KEY; do
  declare -gx "AWS_$sfx=op://$AWS_OP_ITEM/AWS_$sfx"
done

export S3_DATA=secret-hitler-sms-data
export S3_STATIC=secret-h-sms.com
